{% extends 'base.html.twig' %}

{% block body %}
    <h1>Your cars</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Brand</th>
                <th>Model</th>
                <th>Regplate</th>
                <th>Vin</th>
                <th>Service history</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for car in cars %}
            <tr>
                <td>{{ car.brand }}</td>
                <td><a href="{{ path('car_show', { 'id': car.id }) }}">{{ car.model }}</a></td>
                <td>{{ car.regPlate }}</td>
                <td>{{ car.vin }}</td>
                <td><a href="{{ path('service_car', { 'id': car.id }) }}">Show</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('car_show', { 'id': car.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('car_edit', { 'id': car.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('car_new') }}">Create a new car</a>
        </li>
    </ul>
{% endblock %}
