{% extends 'base.html.twig' %}

{% block body %}
    <h1>Car</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Brand</th>
                <td>{{ car.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ car.model }}</td>
            </tr>
            <tr>
                <th>Regplate</th>
                <td>{{ car.regPlate }}</td>
            </tr>
            <tr>
                <th>Vin</th>
                <td>{{ car.vin }}</td>
            </tr>

        </tbody>
    </table>
    <a href="{{ path('car_edit', { 'id': car.id }) }}" class="btn btn-info" role="button">Edit</a>
    <br>
    {{ form_start(delete_form) }}
    <input type="submit" class="btn btn-primary" value="Delete">
    {{ form_end(delete_form) }}
    <br>
    <a href="{{ path('car_index') }}">Back to the list</a>

{% endblock %}
