{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block body %}
    <h1>Service edit</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn btn-primary" value="Save changes" />
    {{ form_end(form) }}
    <br>
    {{ form_start(delete_form) }}
    <input type="submit" class="btn btn-danger" value="Delete">
    {{ form_end(delete_form) }}

    <br>

            <a href="{{ path('service_car', { 'id': service.car.id }) }}">Back to the list</a>

{% endblock %}
