{% extends 'base.html.twig' %}

{% block body %}
    <h1>Services list for all cars</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Car</th>
                <th>Description</th>
                <th>Parts</th>
                <th>Cost</th>
                <th>Date</th>
                <th>Mileage</th>
                <th>Comment</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td>{{ service.getCar() }}</td>
                <td><a href="{{ path('service_show', { 'id': service.id }) }}">{{ service.description }}</a></td>
                <td>Parts will be there</td>
                <td>{{ service.cost }}</td>
                <td>{% if service.date %}{{ service.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ service.mileage }}</td>
                <td>{% for comment in service.getComments() %}
                        <li>{{ comment.text }}</li>
                    {% endfor %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('service_show', { 'id': service.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('service_edit', { 'id': service.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
