{% extends 'base.html.twig' %}

{% block body %}

    {% if services is empty %}
        <h1>No service history for this car</h1>
    {% else %}
    <h1>Services list for: {{ services[0].getCar() }} </h1>


    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                <th>Parts</th>
                <th>Cost</th>
                <th>Date</th>
                <th>Mileage</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{{ path('service_show', { 'id': service.id }) }}">{{ service.description }}</a></td>
                <td>Parts will be there</td>
                <td>{{ service.cost }}</td>
                <td>{% if service.date %}{{ service.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ service.mileage }}</td>
                <td>{% for comment in service.getComments() %}
                        <li>{{ comment.text }}</li>
                    {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}

    <ul>
        <li>
            <a href="{{ path('service_new', {'id': car }) }}">Create a new service</a>
        </li>
    </ul>
{% endblock %}
