{% extends 'base.html.twig' %}

{% block body %}

    {% if services is empty %}
        <h1>No service history for this car</h1>
    {% else %}
    <h1>Services list for: {{ services[0].getCar() }} </h1>


    <table class="table">
        <thead>
            <tr>
                <th>Description</th>
                {#<th>Parts</th>#}
                <th>Cost</th>
                <th>Date</th>
                <th>Mileage</th>
                <th>Comment</th>
            </tr>
        </thead>
        <tbody>
        {% for service in services %}
            <tr>
                <td><a href="{{ path('service_show', { 'id': service.id }) }}">{{ service.description }}</a></td>
                {#<td>Parts will be there</td>#}
                <td>{{ service.cost }}</td>
                <td>{% if service.date %}{{ service.date|date('d-m-Y') }}{% endif %}</td>
                <td>{{ service.mileage }}</td>
                <td>{% for comment in service.getComments() %}
                        <li>{{ comment.text }}</li>
                    {% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endif %}

    <a href="{{ path('service_new', {'id': car }) }}" class="btn btn-info">Create a new service</a>
    <br>
    <br>
    <a href="{{ path('service_car', {'id': car, 'pdf': 1 }) }}" class="btn btn-success">Generate a PDF</a>
    <br>
    <br>
    <a href="{{ path('car_index') }}">Back to cars list</a>

{% endblock %}
