{% extends 'base.html.twig' %}

{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ service.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ service.cost }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if service.date %}{{ service.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Mileage</th>
                <td>{{ service.mileage }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{% for comment in service.getComments() %}
                        <li>{{ comment.text }}</li>
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <h4>New comment</h4>
    {{ form_start(commentForm) }}
    {{ form_widget(commentForm.text) }}
    <input type="submit" value="Create" />
    {{ form_end(commentForm) }}

    <ul>
        <li>
            <a href="{{ path('service_car', { 'id': service.car.id }) }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('service_edit', { 'id': service.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
