{% extends 'base.html.twig' %}


{% block body %}
    <h1>Service</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ service.description }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ service.cost }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if service.date %}{{ service.date|date('d-m-Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Mileage</th>
                <td>{{ service.mileage }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{% for comment in service.getComments() %}
                        <li>{{ comment.text }}</li>
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('service_edit', { 'id': service.id }) }}" class="btn btn-info" role="button">Edit</a>
    <br>

    {{ form_start(delete_form) }}
    <input type="submit" class="btn btn-primary" value="Delete">
    {{ form_end(delete_form) }}
    <br>

    <h4>New comment</h4>

    {{ form_start(commentForm) }}
    {{ form_widget(commentForm.text) }}

    <input type="submit" class="btn btn-primary" value="Save comment" />
    {{ form_end(commentForm) }}
    <br>
    <a href="{{ path('service_car', { 'id': service.car.id }) }}">Back to the list</a>

{% endblock %}
